.container.home
  section#article
    .page-header
      h1 About 
        small #{meta.author}
    p Praesent erat quam, mattis ut aliquam sed, rutrum non diam. Duis quam ligula, volutpat in gravida sit amet, convallis nec urna. Etiam ornare eleifend facilisis. Curabitur laoreet facilisis congue. Proin fringilla arcu velit. Pellentesque a magna ipsum. Nunc iaculis ligula eget mi facilisis tempus. Ut rutrum molestie libero hendrerit tristique. Quisque sed arcu at erat porttitor tempor at sed sapien…
    p auris ante erat, adipiscing vitae mattis eget, dapibus nec lacus. Aliquam rutrum ligula at nisi volutpat dignissim. Fusce dignissim, turpis congue accumsan pulvinar, nunc leo accumsan lacus, eget convallis turpis dui et purus. Curabitur at interdum dolor.